<div style="background-color:lightskyblue;">
  <div class="card" style="margin-left: 4px;">
    <div class="row">
      <div class="col-lg-8">
              <h3>My Orders</h3>    
                      <table class="table-borderless table-condensed table-hover" width="100%" style="background-color: aliceblue;border-radius: 10px;margin-bottom: 200px;">
                          <thead>
                              <tr>
                                  <th scope="col">OrderID</th>
                                  <th scope="col">UserID</th>
                                  <th scope="col">TotalAmount</th>
                                 <th scope="col">Expected Delivery Date</th>
                                  <th scope="col">Payment Method</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">details</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr *ngFor="let item of orders" style="height: 70px;">
                                  <td>{{item.orderId}}</td>
                                  <td>{{item.userId}}</td>
                                  <td>{{item.totalAmount | currency:'INR':'symbol-narrow'}}</td>
                                  <td>{{item.deliveryDate|date}}</td>
                                  <td>{{item.paymentType}}</td>
                                  <td>{{item.orderStatus}}</td>
                                  <td><button class="btn btn-outline-primary" data-toggle="collapse" data-target="#demo" (click)="goTo(item.orderId,item.orderStatus)" >View</button>
                                   </td>
                              </tr>
                             
                          </tbody> 
                      </table>
          </div>
          <div class="col-lg-4" >
                  <div class="container" style="margin-top: 20px;" *ngIf="flag">
                  
                    <div id="demo" class="collapse ">
                        
                            <div class="card-header">
                               <div>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="card-body p-4">
                              <div class="d-flex flex-row mb-4 pb-2">
                               
                                  
                                <hr>
                                <div >
                                  <img class="align-self-center img-fluid" style="border-radius: 10px;"
                                    src="../../assets/images/{{images.imageUrl}}" width="250">
                                </div>
                              </div>
                              <hr>
                              <div class="horizontal-timeline">
            
                                <ul class="list-inline items d-flex justify-content-between" style="font-size: small">
                                  <li class="list-inline-item items-list">
                                    <p class="py-1 px-2 rounded text-white" style="background-color:{{bordered}}; border-radius: 5px;margin-right: 5px;">Ordered</p>
                                    
                                  </li>
                                  <li class="list-inline-item items-list">
                                    <p class="py-1 px-2 rounded text-white" style="background-color:{{bshipped}};border-radius: 5px;">Shipped</p>
                                      
                                  </li>
                                  <li class="list-inline-item items-list">
                                    <p class="py-1 px-2 rounded text-white" style="background-color: {{bontheway}};border-radius: 5px;">On the way
                                    </p>
                                  </li>
                                  <li class="list-inline-item items-list text-end">
                                    <p class="py-1 px-2 rounded text-white" style="background-color:{{bdelivered}};border-radius: 5px;margin-right: -2px;">Delivered</p>
                                  </li>
                                </ul>
              
                              
                            
                            <div class="card-footer p-4">
                              <h5 class="bold">{{items.productName}}</h5><br>
                                  <p class="text-muted"> Qt: {{items.quantity}}</p><br>
                                  <h4 class="mb-3">  {{items.subTotal | currency:'INR':'symbol-narrow'}}<span class="small text-muted"> via COD </span></h4>
                                  
                              <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">{{items.orderId}}</span></p><br>
                                  
                                   
                              <div class="d-flex justify-content-between">
                                <div class="border-start h-100"></div>
                                <button class="btn btn-outline-primary" (click)="deleteitem(items.orderId,item.productName)">Cancel</button>
            
                                <div class="border-start h-100"></div>
                                
                                <div class="border-start h-100"></div>
                                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                                </h5>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                    
                  </div>
          </div>
        
      </div>
  
  
  
      
  
      
    
  </div>